@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');

$headings-color: white;
$font-family-monospace: 'Ubuntu Mono', monospace;
$font-family-base: $font-family-monospace;
$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  width: 100%;
  padding: 120px 0;
  margin-bottom: 20px;
  background-color: black;

  @media(min-width: $screen-tablet){
    margin-bottom: 60px;
  }

  .nullspace {
    position: relative;

    @media(min-width: $screen-tablet){
      margin-top: 130px;
    }

    .logo {
      @extend .hidden-xs;
      position: absolute;
      width: 414px;
      bottom: 2px;

      @media(min-width: $screen-tablet){
        margin-left: 120px;
      }

      @media(min-width: $screen-lg-desktop) {
        margin-left: 320px;
      }
    }

    h4 {
      color: rgb(160,160,160);
      overflow: hidden;
      white-space: nowrap;
      padding: 0;
      margin: 0;
      line-height: 1;
      font-style: italic;

      span {
        color: #fb9fb1;
      }
    }
  }
}

.photos {
  img {
    @extend .center-block;
    margin-bottom: 20px;

    @media(min-width: $screen-tablet){
      max-width: 640px;
      margin-bottom: 60px;
    }
  }
}

.footer {
  background-color: black;
  color: white;

  p {
    padding: 20px;
    margin: 0;
  }
}
