@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i');

$headings-color: white;
$font-family-monospace: 'Ubuntu Mono', monospace;
$font-family-base: $font-family-monospace;
$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  width: 100%;
  padding: 120px 0;
  // margin-bottom: 20px;
  background-color: black;

  // @media(min-width: $screen-tablet){
  //   margin-bottom: 60px;
  // }

  img {
    @extend .img-responsive;
    @extend .center-block;
    max-width: 320px;

    @media(min-width: $screen-tablet){
      max-width: 420px;
    }
  }

  h3 {
    @extend .text-center;
  }
}

.photos {
  .text {
    background-color: black;
    color: white;
    margin: 0;
    margin-bottom: 20px;

    p {
      @extend .text-center;
      @extend .center-block;
      padding: 20px;

      @media(min-width: $screen-tablet){
        max-width: 640px;
        font-size: 16px;
      }
    }

    @media(min-width: $screen-tablet){
      margin-bottom: 60px;
    }
  }

  img {
    @extend .center-block;
    margin-bottom: 20px;

    @media(min-width: $screen-tablet){
      max-width: 640px;
      margin-bottom: 60px;
    }
  }
}

.footer {
  background-color: black;
  color: white;

  p {
    @extend .text-center;
    padding: 20px;
    margin: 0;

    a {
      color: white;
    }
  }
}
